@CHARSET "UTF-8";

body{
	background-image: url("../images/moonsky.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	text-align: center;
	font-family: myFont, Times, serif;
	font-size: 55px;
	color: white;
	padding: 10%;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Stars.ttf);

}
#container{
	height:80%;
	
}
.link{
	color:#79D9FF;
	font-family:"Liberation Mono";
	font-size: 30%;
}

.footer{
	font-family:"Liberation Mono";
	font-size: 20px;
	height: 20%;
	text-align: center;
}
