@CHARSET "UTF-8";
body{
	background-image: url("../images/bluesky.jpeg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size:100% 100%;
	font-size: 150%;
	
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Title.ttf);

}

.info{
	font-family: "Open Sans",Arial,sans-serif;
	color: white;
}
.pwsname{
	margin-top: 60px;
	margin-bottom: 40px;

}
.big{
	font-size: 300%;
}
.medium{
	font-size: 150%;
}
.gray{
	color:#4B4B4C !important;
}
.title{
	background-color:rgba(0,0,0,0.5);
	border-radius: 10px;
}
