
body{
	background-image: url("../images/moonsky.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	text-align: center;
	margin-top:5%;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Stars.ttf);

}
.fontface{
	font-family: myFont, Times, serif;
	font-size: 55px;
	color: white;
}

#formLogin{
	color:#79D9FF;
	font-family:"Liberation Mono";
}

.linkreg{
	color:#218FCA;
}

#container{
	height:80%;
	
}

.style1{

	font-size:70%;
}
.footer{

	height: 20%;
	text-align: center;
}