@CHARSET "UTF-8";

body{
	background-image: url("../images/moonsky.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	text-align: center;
	margin-top:5%;
	color: white;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Stars.ttf);

}
.fontface{
	font-family: myFont, Times, serif;
	font-size: 55px;
	color: white;
}
.white{
	color: white;
	font-family:"Liberation Mono";
}
.black{
	color: black;
	font-family:"Liberation Mono";
}